h2 {
    background:yellow;
}
.paragraf-1 {
    background:pink;
    font-size: 32pt;
    color:green;
}
.paragraf-2 {
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24pt
    margin-bottom: 60px;
    margin-left: 60px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 30px
}
.paragraf-3 {
    font-weight: bold;
    font-size: 22pt;
    font-family: Courier New;
}
.paragraf-4 {
    font-size: 24px;
    text-shadow: green 3px 3px 3px;
}

